form {
  width: 100%;
  height: 100%;
}

form .p-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

form .submit-button {
  margin-top: 1.5rem;
}

form .auth-switch {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

form .auth-switch button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 0.25rem;
  font-weight: 500;
  font-size: inherit;
}

form .submit-button,
.p-icon-field,
.p-field .password {
  width: 100%
}