form {
  width: 100%;
  max-height: 100%;
}

form .p-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form .submit-block {
  margin-top: 1rem;
  padding: 0 0.5rem 1rem 0.5rem;
}

form .auth-switch {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

form .auth-switch button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 0.25rem;
  font-weight: 500;
  font-size: inherit;
}

.fields-wrapper {
  padding: 0;
  position: relative;
  min-height: 0;
}

.fields {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
  height: 100%;
  padding: 1.2rem 0.5rem;
}

.fields-wrapper::before,
.fields-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  height: 1.5rem;
  background: linear-gradient(
      to bottom,
      transparent 0%,
      #282936 50%
  );
  pointer-events: none;
  z-index: 10;
  display: block;
}

.fields-wrapper::before {
  top: 0;
  background: linear-gradient(
      to top,
      transparent 0%,
      #282936 80%
  );
}

.fields-wrapper::after {
  bottom: 0;
}

form .submit-button,
.p-icon-field,
.p-field .password {
  width: 100%
}

@media screen and (min-width: 790px) and (max-width: 1250px) {
  form .submit-block {
    padding: 0 0.5rem;
    margin-top: 2rem;
  }
}