.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
  gap: var(--default-padding);
  flex: 1;
  overflow: scroll;
}

.p-datatable {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16%;
  gap: var(--default-padding);
  white-space: nowrap;
}

.p-datatable-wrapper {
  border-radius: var(--border-radius);
  background-color: var(--surface-overlay);
  height: 100%;
}

.p-paginator-bottom {
  border-radius: var(--border-radius);
  margin-top: auto; /* Прижимает к низу */
}