.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
  gap: var(--default-padding);
  flex: 1;
  overflow: scroll;
}

.p-datatable {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16%;
  gap: var(--default-padding);
  white-space: nowrap;
}

.p-datatable-wrapper {
  border-radius: var(--border-radius);
  background-color: var(--surface-overlay);
  height: 100%;
}

.p-paginator-bottom {
  border-radius: var(--border-radius);
  margin-top: auto; /* Прижимает к низу */
}

@media screen and (min-width: 790px) and (max-width: 1250px) {
  .p-datatable {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1251px) {
  .transition.wrapper {
    border-radius: 0;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-left: 5%;
    box-sizing: border-box;
  }

  .p-datatable {
    overflow: scroll;
    margin-bottom: 0;
  }
}