.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.header {
}

.main {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
  gap: var(--default-padding);
  flex: 1;
  overflow: hidden;
  position: relative;
}