#root {
  --growth-x: 0px;
  --growth-y: 0px;
}

body {
  margin: 0;
}

.App {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.theme-transition {
  opacity: 0;
  pointer-events: none;
}

.theme-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0px at var(--growth-x) var(--growth-y));
  animation: themeGrowth 2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  z-index: 1000;
}

.light {
  background-color: #f5f0ff;
}
.dark {
  background-color: #1d1e27;
}


@keyframes themeGrowth {
  0% {
    clip-path: circle(0px at var(--growth-x) var(--growth-y));
  }
  100% {
    clip-path: circle(calc(100vw + 100vh) at var(--growth-x) var(--growth-y));
  }
}
