
nav {
  display: flex;
  gap: var(--default-padding);
  padding:
      var(--default-padding)
      var(--default-padding)
      0
      var(--default-padding);
}

nav .lang-btn .p-button-label {
  flex: 1;
  visibility: visible;
}

nav .account-btn {
  flex: 1;
}