.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 90%;
  min-width: 90%;
  background: #282936;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.wrapper.register {
  height: 95vh;
}

.auth-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper .auth-card {
  padding: var(--auth-card-padding);
}

.wrapper.register .auth-card {
  padding: 1rem 1rem 0.5rem 1rem;
}

.auth-card h3 {
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 10%;
  min-height: 5%;
  padding: 0.5rem;
}

.auth-card form {
  max-height: 95%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 790px) and (max-width: 1251px) {
  .wrapper {
    min-width: 55%;
    border-radius: 10px;
  }

  .wrapper.register {
    height: auto;
    min-width: 75%;
  }

  .auth-card h3 {
    margin-top: 0.5rem;
    padding-top: 0;
  }

  .auth-card.register .submit-block {
    padding: 0 0.5rem 1.5rem 0.5rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1251px) {
  .wrapper {
    display: flex;
    background: var(--primary-500);
    max-height: 65vh;
    min-height: 65vh;
    max-width: 80vw;
    min-width: 65vw;
    border-radius: 15px;
    position: relative;
  }

  .auth-container .auth-card {
    position: absolute;
    right: 0;
    width: 50%;
    background: #282936;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: var(--auth-card-padding);
    transition: transform 0.4s ease, opacity 0.4s ease, scale 0.4s ease;
  }

  .auth-card.register {
    transform: translateX(-100%);
  }

  .auth-card:not(.register) {
    transform: translateX(0);
  }

  .auth-card h3 {
    padding: 0 0.5rem;
  }

  .auth-card form {
    max-height: 95%;
    min-height: 95%;
  }

  .auth-container .auth-card.login {
    border-radius: 0 10px 10px 0;
  }

  .auth-container .auth-card.register {
    border-radius: 10px 0 0 10px;
    padding: var(--auth-card-padding);
  }
}