.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--content-padding);
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-card {
  width: 100%;
  height: 100%;
  background-color: var(--surface-card);
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.auth-card:first-child {
  height: auto;
}

.auth-card:first-child form {
  gap: var(--content-padding);
  padding-bottom: var(--content-padding);
}

.auth-card.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  pointer-events: none;
}

.auth-card h3 {
  margin: 0;
}