.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-card {
  max-width: 90%;
  min-width: 90%;
  background: #282936;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.auth-card.register {
  height: 95vh;
  padding: 1rem 1rem 0.5rem 1rem;
  position: relative;
}

.auth-card h3 {
  margin: 0;
  display: flex;
  align-items: center;
  height: 5%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.auth-card form {
  height: 95%;
  display: flex;
  flex-direction: column;
}