.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--auth-card-padding);
}

.message {
  position: fixed;
  top: 0;
  right: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--surface-card);
  padding: var(--auth-card-padding);
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease;
  opacity: 1;
}

.auth-card.animating {
  opacity: 0.7;
}

.auth-card.hidden {
  transform: scale(0.2);
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(15px);
}

.auth-card:first-child {
  height: auto;
}

.auth-card:first-child form {
  gap: var(--auth-card-padding);
  padding-bottom: var(--auth-card-padding);
}

.auth-card h3 {
  margin: 0;
}

@media screen and (min-width: 790px) and (max-width: 1250px) {
  .auth-card {
    height: auto;
    width: 60%;
  }
}

@media screen and (min-width: 1251px) {
  .wrapper {
    width: 75%;
    height: 75%;
    background-color: var(--surface-card);
    border-radius: 15px;
    overflow: hidden;
  }

  .wrapper::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    display: block;
    height: 100%;
    width: 50%;
    background-color: var(--primary-500);
    z-index: 10;
    transition: transform 0.8s ease;
  }

  .wrapper .auth-card,
  .wrapper.register::after {
    height: 100%;
    width: 50%;
    transform: translateX(50%);
  }

  .wrapper.register .auth-card {
    transform: translateX(-50%);
  }

  .wrapper .auth-card {
    transition: transform 0.8s ease, opacity 0.2s ease 0.2s;
  }

  .wrapper .auth-card form {
    padding: 0;
    justify-content: space-between;
  }

  .wrapper .fields-wrapper {
    max-height: 75%;
  }

  .auth-card form .submit-block {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}