.graph-container {
  background-color: var(--highlight-bg);
  border-radius: var(--border-radius);
  padding: var(--default-padding);
}

.graph rect,
.graph .triangle,
.graph .arc {
  fill: var(--bg-color-secondary);
}

line {
  stroke: var(--text-color-secondary);
}

text, polygon {
  fill: var(--text-color-secondary);
}