#root {
  --container-padding: 1rem;
  --border-radius: 10px;
  --default-padding: 1rem;
  --form-gap: 1.2rem;
  --form-field-gap: 0.75rem;

}

@media (prefers-color-scheme: light) {
  #root {
    --bg-color-secondary: #5486f3;
  }
}

@media (prefers-color-scheme: dark) {
  #root {
    --bg-color-secondary: #9bcaff;
  }
}

@media screen and (min-width: 790px) and (max-width: 1250px) {
  #root {
    --container-padding: 1.5rem;
  }
}

@media screen and (min-width: 1251px) {
  #root {
    --container-padding: 2rem;
    --border-radius: 15px;
  }
}